permissions: write-all

name: publish-docs
on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
#          server-id: oss.sonatype.org
#          server-username: MAVEN_USERNAME
#          server-password: MAVEN_PASSWORD
#          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
#          gpg-passphrase: MAVEN_GPG_PASSPHRASE

      - name: generate maven site
        run: mvn site site:stage

      - name: Set git user for SCM publishing
        run: |
          git config --global user.email "github-actions@users.noreply.github.com"
          git config --global user.name "github-actions"

      - name: Set authenticated git remote
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global http.https://github.com/.extraheader "Authorization: basic $(echo -n "x-access-token:${GITHUB_TOKEN}" | base64 -w 0)"

      - name: publish to gh-pages
        run: mvn scm-publish:publish-scm